<app-navbar></app-navbar>
<!-- <p style="display: none;">{{mainError}}</p> -->
<div class="page-container">
    <div class="company-logo">
        <div class="calif">
            <h3>Jumbo <br>Visma</h3>
        </div>


        <div class="logswrap">
            <h5 style="color: #007BFF; font-weight: bold;">Deadline in:</h5>
            <div class="timeCapsule">
                <p class="countdown-number" x="10" y="50%" alignment-baseline="middle">{{ days }}</p>
                <p class="countdown-label" x="10" y="70%" alignment-baseline="middle">Days</p>

            </div>
            <div class="timeCapsule">
                <p class="countdown-number" x="80" y="50%" alignment-baseline="middle">{{ hours }}</p>
                <p class="countdown-label" x="80" y="70%" alignment-baseline="middle">Hours</p>

            </div>
            <div class="timeCapsule">
                <p class="countdown-number" x="180" y="50%" alignment-baseline="middle">{{ minutes }}</p>
                <p class="countdown-label" x="180" y="70%" alignment-baseline="middle">Minutes</p>

            </div>
            <div class="timeCapsule">
                <p class="countdown-number" x="280" y="50%" alignment-baseline="middle">{{ seconds }}</p>
                <p class="countdown-label" x="280" y="70%" alignment-baseline="middle">Seconds</p>

            </div>
        </div>

    </div>



    <div class="project-dashboard">

        <div class="freeEmployee">
            <h2>{{freeEmployee}}</h2>

        </div>
        <div *ngIf="noneCompleted" class="noneCompleted">
            <p>No assignments yet</p>

          </div>

        <!-- project cards -->
        <div *ngIf="isCardVisble && filteredProjects.length > 0" class="card-container">
            <div *ngFor="let project of filteredProjects" class="card">
                <h3 style="text-align: center; font-size: xx-large; border-bottom:solid 1px;border-color: #a09e9e;
                margin-top: 30px;"> {{ project.projectName }}</h3>
                <p class="detal"><span style="color: black; font-weight: bold;">Assigned to:</span><br> {{
                    project.AssignedUserName }}</p>
                <p class="detal"><span style="color: black; font-weight: bold;">End Date:</span> <br>{{
                    formatDate(project.endDate) }}</p>
                <p class="detald"><span style="color: black; font-weight: bold;">Description:</span> <br>{{
                    project.projectDescription }}</p>
                <p style="color: white;">{{ project.isCompleted }}</p>
                <p [style.color]="isCompleted ? 'red' : 'green'">{{ project.projectStatus }}</p>

                <div>

                    <button *ngIf="time === 'pending'" (click)="start()" class="start">Start</button>
                    <button *ngIf="time !== 'pending'  && showButton" (click)="complete()"
                        class="subbmit">Complete</button>

                    <p>{{statusError}}</p>

                    <p style="display: none;">ID:{{project.projectID}}</p>
                </div>
            </div>
        </div>
    </div>
</div>